[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = "*"
py-cord = {version = ">=2.0.0.0b3", extras = ["speed"]}

[dev-packages]

[requires]
python_version = "3.8"
